.greet-main,
.greeting-main {
  width: 90%;
  padding: 20px 10px;
  margin: 0px auto;
}

.greeting-main {
  display: flex;
  flex-wrap: wrap; 
}

.greeting-main > * {
  flex: 1;
  margin-bottom: 30px;
  box-sizing: border-box; 
}

.greeting-image-div {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.greeting-image-div > * {
  max-width: 60%;
  height: auto;
  margin-right: 10px;
  margin-top: 10px;
}

@media (max-width: 1380px) {
  .greeting-text {
    font-size: 50px;
  }
  .greeting-text-p {
    font-size: 18px; 
  }
}

@media (max-width: 1024px) {
  .greeting-text {
    font-size: 40px; 
  }

  .greeting-nickname {
    font-size: 28px;
  }

  .greeting-text-p {
    font-size: 18px;
  }

  .greeting-main {
    flex-direction: column; 
  }

  .greeting-image-div {
    width: 100%; 
    justify-content: center; 
    align-items: center;
  }

  .greeting-image-div img {
    max-width: 80%; 
  }
}

@media (max-width: 768px) {
  .greeting-text {
    font-size: 30px;
    text-align: center; 
  }

  .greeting-nickname {
    font-size: 22px;
    text-align: center; 
  }

  .greeting-text-p {
    font-size: 16px;
    text-align: center; 
    margin-right: 0px;
    line-height: normal;
  }

  .greeting-main {
    display: block;
  }

  .greeting-image-div img {
    max-width: 90%; 
  }

  .button-greeting-div {
    flex-direction: column; 
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .greeting-text {
    font-size: 24px; 
  }

  .greeting-nickname {
    font-size: 20px;
  }

  .greeting-text-p {
    font-size: 14px;
  }

  .greeting-image-div img {
    max-width: 100%; 
  }
}
