.contact-div-main {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between;
}

.contact-div-main > * {
  flex: 1;
  box-sizing: border-box; 
}

.contact-title {
  font-size: 65px;
  font-weight: 400;
  text-align: center; 
}

.contact-detail,
.contact-detail-email {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 400;
  color: #868e96;
  text-decoration: none;
  display: block;
  text-align: center; 
}

.contact-detail:hover,
.contact-detail-email:hover {
  color: black;
  text-shadow: 2px 1px 2px #b5b5b5;
  transition: all 0.3s;
}

.contact-subtitle {
  text-transform: uppercase;
  text-align: center;
}

.contact-text-div {
  margin-top: 1.5rem;
}

.contact-margin-top {
  margin-top: 4rem;
}

.contact-image-div > img {
  max-width: 100%;
  height: auto;
  margin-left: 1.5rem;
  margin-top: -4rem;
  display: block; 
  margin: 0 auto; 
}

@media (max-width: 1024px) {
  .contact-title {
    font-size: 50px;
  }

  .contact-subtitle {
    font-size: 18px;
    line-height: normal;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 30px;
  }

  .contact-image-div > img {
    margin-left: 0; 
    margin-top: -2rem; 
  }
}

@media (max-width: 768px) {
  .contact-div-main {
    flex-direction: column; 
    align-items: center;
  }

  .contact-title {
    font-size: 40px; 
  }

  .contact-subtitle {
    font-size: 16px; 
    text-align: center;
  }

  .contact-text-div {
    text-align: center;
    margin-top: 1rem;
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 20px; 
  }

  .contact-image-div > img {
    max-width: 90%; 
    margin-left: 0; 
    margin-top: 1rem; 
  }
}

@media (max-width: 480px) {
  .contact-title {
    font-size: 30px; 
  }

  .contact-detail,
  .contact-detail-email {
    font-size: 18px; 
  }

  .contact-image-div > img {
    max-width: 80%; 
  }
}
